<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
        

     <bean class="com.demo.beans.Product" id="p1">
     	<!-- <constructor-arg index="0" value="1"></constructor-arg>
     	<constructor-arg index="1" value="Chair"></constructor-arg> -->
     	<property name="pid" value="1"></property>
     		<property name="pname" value="Table"></property>
     </bean>
     
     
     <bean class="com.demo.beans.Order" id="Ord1">
    <!--  <constructor-arg index="0" value="1"></constructor-arg>
     <constructor-arg index="1" value="Furniture"></constructor-arg>
     <constructor-arg index="2" ref="p1"></constructor-arg> -->
     	<property name="oid" value="1"></property>
     		<property name="oname" value="Furniture"></property>
     			<property name="p" ref="p1"></property>
     </bean>
</beans>