<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    
    <bean class="com.demo.bean.Order" id="ord1">
    	<property name="oid" value="1"></property>
    	<property name="cid" value="1"></property>
    	<property name="p" ref="p1"></property>
    	
    </bean>
    
        
</beans>